@-webkit-keyframes fall {
	0% {
		opacity: 0.9;
		top: 0;
	}
	100% {
		opacity: 0.2;
		top: 100%;
	}
}

@keyframes fall {
	0% {
		opacity: 1;
		top: 0;
	}
	100% {
		opacity: 0.2;
		top: 100%;
	}
}

@-webkit-keyframes blow-soft-left {
	0% {
		margin-left: 0;
	}
	100% {
		margin-left: -50%;
	}
}

@keyframes blow-soft-left {
	0% {
		margin-left: 0;
	}
	100% {
		margin-left: -50%;
	}
}

@-webkit-keyframes blow-medium-left {
	0% {
		margin-left: 0;
	}
	100% {
		margin-left: -100%;
	}
}

@keyframes blow-medium-left {
	0% {
		margin-left: 0;
	}
	100% {
		margin-left: -100%;
	}
}

@-webkit-keyframes blow-soft-right {
	0% {
		margin-left: 0;
	}
	100% {
		margin-left: 50%;
	}
}

@keyframes blow-soft-right {
	0% {
		margin-left: 0;
	}
	100% {
		margin-left: 50%;
	}
}

@-webkit-keyframes blow-medium-right {
	0% {
		margin-left: 0;
	}
	100% {
		margin-left: 100%;
	}
}

@keyframes blow-medium-right {
	0% {
		margin-left: 0;
	}
	100% {
		margin-left: 100%;
	}
}

@-webkit-keyframes sway-0 {
	0% {
		-webkit-transform: rotate(-5deg);
	}
	40% {
		-webkit-transform: rotate(28deg);
	}
	100% {
		-webkit-transform: rotate(3deg);
	}
}

@keyframes sway-0 {
	0% {
		-ms-transform: rotate(-5deg);
		transform: rotate(-5deg);
	}
	40% {
		-ms-transform: rotate(28deg);
		transform: rotate(28deg);
	}
	100% {
		-ms-transform: rotate(3deg);
		transform: rotate(3deg);
	}
}

@-webkit-keyframes sway-1 {
	0% {
		-webkit-transform: rotate(10deg);
	}
	40% {
		-webkit-transform: rotate(43deg);
	}
	100% {
		-webkit-transform: rotate(15deg);
	}
}

@keyframes sway-1 {
	0% {
		-ms-transform: rotate(10deg);
		transform: rotate(10deg);
	}
	40% {
		-ms-transform: rotate(43deg);
		transform: rotate(43deg);
	}
	100% {
		-ms-transform: rotate(15deg);
		transform: rotate(15deg);
	}
}

@-webkit-keyframes sway-2 {
	0% {
		-webkit-transform: rotate(15deg);
	}
	40% {
		-webkit-transform: rotate(56deg);
	}
	100% {
		-webkit-transform: rotate(22deg);
	}
}

@keyframes sway-2 {
	0% {
		-ms-transform: rotate(15deg);
		transform: rotate(15deg);
	}
	40% {
		-ms-transform: rotate(56deg);
		transform: rotate(56deg);
	}
	100% {
		-ms-transform: rotate(22deg);
		transform: rotate(22deg);
	}
}

@-webkit-keyframes sway-3 {
	0% {
		-webkit-transform: rotate(25deg);
	}
	40% {
		-webkit-transform: rotate(74deg);
	}
	100% {
		-webkit-transform: rotate(37deg);
	}
}

@keyframes sway-3 {
	0% {
		-ms-transform: rotate(25deg);
		transform: rotate(25deg);
	}
	40% {
		-ms-transform: rotate(74deg);
		transform: rotate(74deg);
	}
	100% {
		-ms-transform: rotate(37deg);
		transform: rotate(37deg);
	}
}

@-webkit-keyframes sway-4 {
	0% {
		-webkit-transform: rotate(40deg);
	}
	40% {
		-webkit-transform: rotate(68deg);
	}
	100% {
		-webkit-transform: rotate(25deg);
	}
}

@keyframes sway-4 {
	0% {
		-ms-transform: rotate(40deg);
		transform: rotate(40deg);
	}
	40% {
		-ms-transform: rotate(68deg);
		transform: rotate(68deg);
	}
	100% {
		-ms-transform: rotate(25deg);
		transform: rotate(25deg);
	}
}

@-webkit-keyframes sway-5 {
	0% {
		-webkit-transform: rotate(50deg);
	}
	40% {
		-webkit-transform: rotate(78deg);
	}
	100% {
		-webkit-transform: rotate(40deg);
	}
}

@keyframes sway-5 {
	0% {
		-ms-transform: rotate(50deg);
		transform: rotate(50deg);
	}
	40% {
		-ms-transform: rotate(78deg);
		transform: rotate(78deg);
	}
	100% {
		-ms-transform: rotate(40deg);
		transform: rotate(40deg);
	}
}

@-webkit-keyframes sway-6 {
	0% {
		-webkit-transform: rotate(65deg);
	}
	40% {
		-webkit-transform: rotate(92deg);
	}
	100% {
		-webkit-transform: rotate(58deg);
	}
}

@keyframes sway-6 {
	0% {
		-ms-transform: rotate(65deg);
		transform: rotate(65deg);
	}
	40% {
		-ms-transform: rotate(92deg);
		transform: rotate(92deg);
	}
	100% {
		-ms-transform: rotate(58deg);
		transform: rotate(58deg);
	}
}

@-webkit-keyframes sway-7 {
	0% {
		-webkit-transform: rotate(72deg);
	}
	40% {
		-webkit-transform: rotate(118deg);
	}
	100% {
		-webkit-transform: rotate(68deg);
	}
}

@keyframes sway-7 {
	0% {
		-ms-transform: rotate(72deg);
		transform: rotate(72deg);
	}
	40% {
		-ms-transform: rotate(118deg);
		transform: rotate(118deg);
	}
	100% {
		-ms-transform: rotate(68deg);
		transform: rotate(68deg);
	}
}

@-webkit-keyframes sway-8 {
	0% {
		-webkit-transform: rotate(94deg);
	}
	40% {
		-webkit-transform: rotate(136deg);
	}
	100% {
		-webkit-transform: rotate(82deg);
	}
}

@keyframes sway-8 {
	0% {
		-ms-transform: rotate(94deg);
		transform: rotate(94deg);
	}
	40% {
		-ms-transform: rotate(136deg);
		transform: rotate(136deg);
	}
	100% {
		-ms-transform: rotate(82deg);
		transform: rotate(82deg);
	}
}

.sakura {
	/* background: -webkit-linear-gradient(120deg, rgba(255, 255, 255, 0.6), rgba(255, 255, 255, 0.9));
    background: linear-gradient(120deg, rgba(255, 255, 255, 0.6), rgba(255, 255, 255, 0.9));*/
	background: red;
	pointer-events: none;
	position: absolute;
}

.sakura {
	/* background: #674ea7; */
	background: #674ea7;
}

/*******************************/

body {
	font-family: Arial, Helvetica, Sans-serif;
}

img {
	max-width: 100%;
	height: auto;
}

@media (max-width: 900px) {
	img {
		max-width: 48%;
	}
}

.top-right-decoration {
	position: absolute;
	top: 0;
	right: 0;
	display: block;
}

.top-left-decoration {
	position: absolute;
	top: 0;
	left: 0;
	display: block;
}

.bottom-down-decoration {
	position: absolute;
	bottom: 0;
	height: auto;
	display: block;
	max-width: 100%;
	transform: translateX(-100%);
	animation: entrar 3s forwards, sair 3s forwards 5s;
}

.title h1 {
	font-family: "Dancing Script", cursive;
	font-weight: bold;
	font-style: normal;
	font-size: 10vmin;
	margin: 32px 0;
	color: #674ea7;
	transform: translateX(-100%);
	animation: entrar 3s forwards, sair 3s forwards 5s;
}

.title h2 {
	font-family: "Dancing Script", cursive;
	font-weight: bold;
	font-style: normal;
	margin: 0;
	padding: 0;
	font-size: 24px;
	color: #3dc2ec;
	line-height: 1;
	transform: translateX(-100%);
	animation: entrar 3s forwards, sair 3s forwards 5s;
}

.dia-casamento {
	transform: translateX(-100%);
	animation: entrar 3s forwards, sair 3s forwards 5s;
}

.title h3 {
	/* font-weight: 300; */
	text-transform: uppercase;
	letter-spacing: 5px;
	font-size: 2vw;
	color: #674ea7;
	margin-top: 5px;
	transform: translateX(-100%);
	animation: entrar 3s forwards, sair 3s forwards 5s;
}

.title p {
	color: #564861;
	margin: 30px 0 20px;
	text-transform: uppercase;
	letter-spacing: 3px;
	font-size: 16px;
}

.wrap {
	display: -webkit-flex;
	display: flex;
	-webkit-flex-wrap: wrap;
	flex-wrap: wrap;
	-webkit-justify-content: center;
	justify-content: center;
	-webkit-align-items: center;
	align-items: center;
	/* padding: 20px; */
	text-align: center;
	/* min-height:100%; */
}

/** **/

* {
	/* margin: 0;
    padding: 0; */
	font-family: "Arvo", serif;
}

body {
	display: flex;
	justify-content: center;
	align-items: center;
	/* height: 100vh;
    width: 100%; */
	flex-direction: column;
}

.title {
	margin-bottom: 40px;
}

#time {
	width: auto;
	height: auto;
	padding: 3vmin;
	background-color: #eee;
	border-radius: 20px;
	font-size: 1.5rem;

	transform: translateX(-100%);
	animation: entrar 3s forwards;
}

.venue {
	width: auto;
	height: auto;
	background-color: #674ea7;
	border-radius: 16px;
	text-align: center;
	color: #fff;
	padding: 10px;
	margin-right: 10px;
	animation: fadeIn 3s forwards;
}

.venue a {
	text-decoration: none;
	color: #fff;
}

.container {
	display: grid;
	grid-template-columns: 1fr 1fr;
	border-radius: 10px;
	overflow: hidden;
}

.block {
	width: clamp(120px, 180px, 40vmin); /* min, preferred, max */
	height: clamp(140px, 160px, 40vmin);
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	color: #fff;
}

.days {
	background: linear-gradient(90deg, #0000ff, #0066ff);
}

.hours {
	background: linear-gradient(90deg, #664daa, #998db9);
}

.minutes {
	background: linear-gradient(90deg, #674daa, #998dca);
}

.seconds {
	background: linear-gradient(90deg, #0000ff, #0066ff);
}

.date {
	color: #145689;
	font-weight: 1vw;
	transform: translateX(-100%);
	animation: entrar 5s forwards, sair 3s forwards 5s;
}

.place {
	color: #874562;
	font-weight: 1vw;
	transform: translateX(-100%);
	animation: entrar 5s forwards, sair 3s forwards 5s;
}

.footer {
	color: #564861;
	text-align: center;
	font-size: 16px;
	margin: 24px;
}

.phone {
	color: #874562;
}

.end-msg {
	width: auto;
	height: auto;
	padding: 12px;
	background: linear-gradient(90deg, #b33a46, #9b313c);
	border-radius: 20px;
	font-size: 14px;
	color: #fff;
	font-size: 24px;
}

a {
	text-decoration: none;
}

.happiness {
	color: #874562;
	font-size: 24px;
	font-weight: bold;
	text-align: center;
	margin-bottom: 24px;
}

.twitter {
	color: #874562;
}

.music {
	display: none;
}

.actions {
	display: flex;
	font-size: 12px;
	letter-spacing: 0pt;
}

.texto-animacao {
	position: absolute;
	white-space: nowrap;
	font-size: 2em;
	opacity: 0;
	transform: translateX(-100%);
	animation: entrar 3s forwards, sair 3s forwards 5s;
}

@keyframes entrar {
	0% {
		opacity: 0;
		transform: translateX(-100%);
	}
	100% {
		opacity: 1;
		transform: translateX(0);
	}
}

@keyframes sair {
	0% {
		opacity: 1;
		transform: translateX(0);
	}
	100% {
		opacity: 0;
		transform: translateX(100%);
	}
}

@keyframes fadeIn {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

@keyframes fadeOut {
	0% {
		opacity: 1;
	}
	100% {
		opacity: 0;
	}
}

#img_casal {
	width: 100%;
	height: auto;
}
